<div class="container">
  <div class="users-container">
    <h2>Game Session Overview</h2>
  </div>

  <div class="users-container">
   <div class="mat-table">
      <div class="mat-header-row">
        <div class="mat-header-cell">Session Name</div>
        <div class="mat-header-cell">Grid Size</div>
        <div class="mat-header-cell">Game Type</div>
        <div class="mat-header-cell">Host Name</div>
      </div>
      <div class="mat-row">
        <div class="mat-cell">{{lobbySession.name}}</div>
        <div class="mat-cell">{{lobbySession.gridSize}}</div>
        <div class="mat-cell">{{lobbySession.gameType}}</div>
        <div class="mat-cell">{{lobbySession.hostName}}</div>
      </div>
    </div>
  </div>

  <div class="users-container">
    <mat-list role="list">
      <ng-container *ngFor="let player of lobbySession.lobbyPlayers">
        <mat-list-item role="listitem">{{player.name}}</mat-list-item>
      </ng-container>
    </mat-list>
  </div>

  <div *ngIf="lobbySession?.lobbyPlayers?.length == 1">
    <div class="users-container">
      <h2>Available Opponents</h2>
    </div>

    <div class="users-container">
      <app-public-users-list [showAddPlayerButton]="true" [showHeader]="false" [setUsers]="availableUsers" (addUserClicked)="addPlayer($event)"></app-public-users-list>
    </div>
  </div>

  <div class="users-container">
    <button mat-raised-button color="primary" *ngIf="lobbySession?.lobbyPlayers?.length == 2"
            (click)="launchGame()">Launch game</button>
  </div>
</div>
