<mat-list>
    <div *ngIf="showHeader" mat-subheader>Global users</div>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let user of users">
      <!--<mat-icon mat-list-icon>{{user.icon}}</mat-icon>-->
      <mat-icon mat-list-icon>{{'person'}}</mat-icon>
      <div mat-line>{{user.name}}</div>
      <div mat-line>Games played: {{user.gamesPlayedCount}}</div>
      <div mat-line>Games won: {{user.gamesWonCount}}</div>
      <button mat-raised-button color="primary" *ngIf="showAddPlayerButton"
        (click)="addUserClicked.emit(user)">Add</button>
      <mat-divider></mat-divider>
      <div mat-col>
        <button mat-icon-button matTooltip="Send friend invite" (click)="addFriend(user.id)">
          <mat-icon mat-list-icon>{{'group_add'}}</mat-icon>
        </button>

        <!--<button mat-icon-button matTooltip="Logout" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>-->
      </div>
          <!--<div mat-col>
        <mat-icon mat-list-icon>{{'message'}}</mat-icon>
      </div>-->
      <!--<div mat-col>
        <mat-icon mat-list-icon>{{'favorite'}}</mat-icon>
      </div>-->
      <!--<div mat-col>
        <mat-icon mat-list-icon>{{'delete'}}</mat-icon>
      </div>-->
    </mat-list-item>
</mat-list>
