<mat-list>
  <div mat-subheader>Friends</div>
  <mat-divider></mat-divider>
  <div *ngIf="friends.length > 0">
    <mat-list-item *ngFor="let friend of friends">
      <mat-icon mat-list-icon>{{'person'}}</mat-icon>
      <div mat-line>{{friend.name}}</div>
      <div mat-line>Games played: {{friend.gamesPlayedCount}}</div>
      <div mat-line>Games won: {{friend.gamesWonCount}}</div>
      <mat-divider></mat-divider>
      <div mat-col>
        <mat-icon mat-list-icon>{{'group_add'}}</mat-icon>
      </div>
      <div mat-col>
        <mat-icon mat-list-icon>{{'favorite'}}</mat-icon>
      </div>
      <button mat-icon-button matTooltip="Remove friend" (click)="removeFriend(friend)">
        <mat-icon mat-list-icon>{{'delete'}}</mat-icon>
      </button>

    </mat-list-item>
  </div>
  <div *ngIf="friends.length == 0">
    <div>&nbsp; No friends found</div>
  </div>

</mat-list>
